*{
    margin: 0%;
    padding: 0%;
}

body{
    display: flex;
    flex-wrap: wrap;
    min-width: 250px;
}

header{
    background-color: lightyellow;
    width: 100%;
    text-align: center;
}

nav{
    width: 100%; 
    display: flex; 
    flex-wrap: wrap;: 
    text-align: center; 
    justify-content: center;
    font-size: large; 
    font-weight: bold;
    justify-content: space-evenly;
}

nav section{
    background-color: grey; 
    width: 15%; 
    margin: 5px;
    text-align: center;
}

main{
    background-color: pink;
    width: 70%;
}

main img{
    width: 800px;
}

aside{
    background-color: turquoise;
    width: 30%;
    list-style-position: inside;
}

footer{
    background-color: lightgreen;
    width: 100%;
    text-align: center;
}

@media (max-width: 480px) {
    body {
        flex-direction: column;
    }

    nav {
        flex-direction: column;
        font-size: medium;
    }

    nav section {
        width: 100%;
        margin: 5px 0;
        padding: 10px 0;
    }

    main {
        width: 100%;
        padding: 20px;
    }

    main img {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }

    aside {
        width: 100%;
        padding: 20px;
    }

    footer {
        font-size: small;
        padding: 10px 0;
    }
}
